@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    scroll-behavior: smooth;
}


*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Kanit", sans-serif;
}
body{
    background-color: rgb(14, 14, 14);
    

}



.buttons{
    width: 100%;
    height: 15vh;
    background-color: rgb(14, 14, 14);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    border-bottom: 1px solid rgba(211, 211, 211, 0.15);
    z-index: 100000;
}

.header-redes-sociales{
    position:  absolute;
    left: 10px;
}

.ul-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 20px;

}
.ul-buttons-hidden{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 20px;

}
.sections{
    color: rgb(206, 206, 206);
    position: absolute;
    right: 3%;
    height: 100%;
    font-size: 2vw;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: flex-end   ;
}
.sections-visible{
    width: 100%;

}
.buttons-hidden{
    display: none;
}
.cross{
    display: none;
}
.link-button{
    padding: 10px;
    margin: 5px;

    border: 2px solid rgb(206, 206, 206);
    box-sizing: border-box;

    font-size: 1.1vw;
    text-decoration: none;
    color: rgb(206, 206, 206);
    text-transform: uppercase;
    font-weight: bold;

    transition: .3s ease;


}
.link-button:hover{
    font-size: 1.2vw;
}
#presentation{
    height: 100vh;
    background-color: rgba(14, 14, 14, .95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: url(PagePhotos/abyla-logo-nobackground.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px;
    

}
.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(14, 14, 14, .95);
    width: 100%;
    height: 100%;

}
.presentation-text{
    opacity: 1;
    color: rgb(206, 206, 206);
    text-transform: uppercase;
    width: 25vw;
}
.more-info{
    padding-top: 10%;
    position: absolute;
    font-size: 1.5vw;
    font-weight: bold;
    color: rgb(206, 206, 206);
    font-family: "Kanit", sans-serif;
}
#spotify-albums{
    border-top: 1px solid rgba(211, 211, 211, 0.15);
    padding-top: 15vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-text{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.spotify-albums-text{
    font-size: 2.5vw;
    margin-left: 50px;
    font-weight: bold;
    font-family: "Kanit", sans-serif;
    color: rgb(206, 206, 206);
}

.albums{
    height: 80%;
    width: 100%;
    display: flex;
}
.album{
    height: 100%;
    width: 30%;
    margin: 50px;
}

#tienda{
    border-top: 1px solid rgba(211, 211, 211, 0.15);
    padding-top: 15vh;
    height: 85vh;
}
.productos-header{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
}
.productos-header-text{
    font-size: 3vw;
    color: rgb(206, 206, 206);
    font-family: 'Kanit';
    font-weight: bold;
    margin-left: 25px;
}
.productos{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.producto{
    height: 80%;
    width: 25%;
    border: 2px solid rgb(206, 206, 206);
    border-radius: 10px;
    margin: 0px 25px 0px 25px
}
.flechas{


    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#izquierda,
#derecha{
    background-color: rgba(211, 211, 211, 0.637);
    border: 1px solid black;
    box-sizing: border-box;
    padding: 30px 10px;
    cursor: pointer;
    font-size: 1.3vw;
}
#izquierda{
    opacity: 0;
}
.imagen{
    height: 85%;
    width: 100%;

}
#delante{
    height: 100%;
    width: 100%;
    background: url(MerchPhotos/camisetaDelante.jpg);
    background-size: cover;
    background-position: 50%;
}
#detras{
    height: 100%;
    width: 100%;
    background: url(MerchPhotos/camisetaDetras.jpg);
    background-size: cover;
    background-position: 50%;
    
}

.producto-visible{
    animation: productoVisible .5s forwards;

}

.product-visible{
    opacity: 1;
    border-radius: 10px;
}
.product-hidden{
    display: none;
    animation: productoVisible .8s forwards;
    border-radius: 10px;
    transition: .3s ease;
}

.informacion{
    height: 15%;
    width: 100%;
    background-color: rgba(211, 211, 211, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.text-informacion{
    font-size: 1.1vw;
    color: rgb(206, 206, 206);
    font-weight: bold;
    font-family: "Kanit";
}
.button-compra{
    font-size: 1.1vw;
    padding: 7px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(206, 206, 206);
    border: 1px solid rgb(206, 206, 206);
    z-index: 10000;
    
}
.button-compra:hover{
    background-color: rgba(211, 211, 211, 0.15);
}

.visible{
    animation: aparecerTitulo .8s forwards;
}


.spotify-visible{
    animation: spotifyVisible .8s forwards;
}

.album-visible{
    animation: albumVisible .8s forwards;
}
.texto-productos-visible{
    animation: textoProductos .8s forwards;
}





#aboutus{
    border-top: 1px solid rgba(211, 211, 211, 0.15);
    height: auto;
    padding-top: 15vh;
}
.about-header{
    height: 9vw;
    display: flex;
    align-items: center;
}
.about-header-text{
    font-size: 3vw;
    font-weight: bold;
    font-family: 'Kanit';
    color: rgb(206, 206, 206);
    margin-left: 25px;
}
.content-aboutus{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutus-text{
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-text{
    font-size: 1.5vw;
    font-weight: bold;
    color: rgb(206, 206, 206);
    font-family: 'Kanit';
    margin: 50px;
    text-align: justify;
    
}
.imagenes-aboutus{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 5vh;
    
}

.imagen-texto{
    height: 50vh;
    margin: 10px;
    border: 2px solid rgba(211, 211, 211, 0.15);
}

.titulo-about-visible{
    animation: tituloAbout .8s forwards;
}

.texto-about-visible{
    animation: textoAbout .8s forwards;
}

.footer-page{
    height: 30vh;
    width: 100%;
    border-top: 1px solid rgba(211, 211, 211, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redes-sociales{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.red-social{
    
    font-size: 1.5vw;
    border: 2px solid rgb(206, 206, 206);
    margin: 5px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    transition: .3s ease;
    color: rgb(206, 206, 206);
}
.red-social:hover{
    font-size: 1.6vw;
}

.desarrollador,
.contact,
.copyright{
    height: 25%;
}

.desarrollador{
    font-size: 1.2vw;
    color: rgb(206, 206, 206);
}
.developer{
    text-decoration: none;
    color: rgb(175, 0, 175);
}
.contact{
    font-size: 1.3vw;
    color: rgb(206, 206, 206);
}
.contacto-correo{
    text-decoration: underline;
}
.copyright{
    font-size: 1.3vw;
    color: rgb(206, 206, 206);
}


@media (max-width: 1200px) {
    #izquierda,
    #derecha{
        font-size: 2vw;
    }
    .ul-buttons{
        position: absolute;
        right: 0;
    }
    .link-button{
        font-size: 1.5vw;
    }
    .red-social{
        padding: 5px 10px;
        font-size: 2vw;
    }
    #presentation{
        background-size: contain;  
        background-position: 50%;      
    }
    .presentation-text{
        width: 50vw;
    }
    .more-info{
        padding-top: 20%;
        font-size: 3vw;
    }
    #spotify-albums{
        height: auto;
    }
    .header-text{
        height: 15vw;
    }
    .albums{
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .album{
        margin: 0;
        padding: 0;
        height: 70vh;
        width:70%;
        
    }
    
    #tienda{
        height: auto;
    }
    .productos-header{
        height: 15vw;
    }
    .productos{
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .producto{
        margin: 0;
        padding: 0;
        height: 40vw;
        width: 40%;  
        margin: 50px;      
    }
    .text-informacion{
        font-size: 2vw;
    }
    .button-compra{
        font-size: 2vw;
        padding: 5px;
    }
    .about-text{
        font-size: 2vw;
    }
    .desarrollador,
    .copyright{
        font-size: 2vw;
    }
    .red-social:hover{
        font-size: 2.5vw;
    }
    .link-button:hover{
        font-size: 1.7vw;
    }
    .contact{
        font-size: 2vw;
    }
}

@media (max-width: 800px) {
    #izquierda,
    #derecha{
        font-size: 2.5vw;
    }
    .buttons{
        height: 25vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;


    }
    .ul-buttons{
        width: 100%;
        height: 50%;
        position: absolute;
        bottom: 0;
        left: 50;
        right: 50;
    }
    .header-redes-sociales{
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;        
    }

    

    #presentation{
        background-size: contain;
        background-position: 50%;

    }
    .link-button{
        font-size: 1.5vw;
    }
    .red-social{
        padding: 5px 10px;
        font-size: 2vw;
    }
    #presentation{
        background-size: contain;        
    }
    .spotify-albums-text,
    .productos-header-text,
    .texto-fotos-text,
    .about-header-text{
        font-size: 6vw;
    }
    .more-info{
        font-size: 3.5vw;
        padding-top: 25%;
    }
    #spotify-albums{
        height: auto;
    }
    .header-text{
        height: 15vw;
    }
    .albums{
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .album{
        margin: 0;
        padding: 0;
        height: 70vh;
        width:80%;
        
    }
    
    #tienda{
        height: auto;
    }
    .productos-header{
        height: 15vw;
    }
    .productos{
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .producto{
        margin: 0;
        padding: 0;
        height: 50vh;
        width: 70%;  
        margin: 50px;      
    }
    .text-informacion{
        font-size: 3vw;
    }
    .button-compra{
        font-size: 3vw;
        padding: 5px;
    }

    .foto{
        width: 50vw;
        height: 80vw;
        background-position: 50%;
    }
    .imagenes-aboutus{
        display: flex;
        flex-direction: column;
    }
    .imagen-texto{
        width: 90%;
    }


    #spotify-albums,
    #tienda, 
    #fotos,
    #aboutus{
        padding-top: 25vw;
    }

    .about-text{
        font-size: 3vw;
    }
    .link-button{
        font-size: 2vw;
    }
    .link-button:hover{
        font-size: 2.2vw;
    }
    .red-social{
        font-size: 3vw;
    }
    .desarrollador,
    .copyright{
        font-size: 3vw;
    
    }
    .red-social:hover{
        font-size: 3.5vw;
    }
    .contact{
        font-size: 3vw;
    }
}



@media (max-width: 500px){
    #izquierda,
    #derecha{
        font-size: 3.5vw;
    }
    .header-buttons-visible{
        width: 100vw;
        display: flex;
    }
    .sections{
        display: flex;
        font-size: 5vw;
    }
    .buttons-hidden{
        width: 80%;
        height: 100%;
    }
    .buttons{
        height: 30vw;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: fixed;


    }
    .ul-buttons{
        width: 100%;
        height: 50%;
        margin: 0;
        display: none;
        
    }
    #spotify-albums, 
    #tienda,
    #aboutus{
        padding-top: 20vh;
    }
    .link-button{
        font-size: 2.5vw;
    }
    .link-button:hover{
        font-size: 2.7vw;
    }
    .header-redes-sociales{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .red-social{
        font-size: 7vw;
        margin: 0 10px;
    }
    .red-social:hover{
        font-size: 8vw;
    }

    #presentation{
        background-size: contain;
        background-position: 50%;
    }

    .presentation-text{
        width: 85vw;

    }
    
    .header-text,
    .productos-header,
    .about-header{
        width: 100%;
        display: flex;
        justify-content: center;
        
    }
    .spotify-albums-text,
    .productos-header-text,
    .texto-fotos-text,
    .about-header-text{
        margin: 0;
        font-size: 8vw;
        padding-bottom: 50px;
    }
    .imagenes-aboutus{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .imagen-texto{
        width: 80vw;
        height: 35vh;
        
    }

    .album{
        width: 90vw;
        height: 50vh;
    }
    .producto{
        height: 50vh;
        width: 90vw;
    }
    .imagen{
        background-position: 50%;
    }
    .text-informacion{
        font-size: 4vw;
    }
    .button-compra{
        font-size: 5vw;
    }
    .about-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 6vw;
    }

    .more-info{
        padding-top: 40%;
        font-size: 4.5vw;
    }
    .desarrollador,
    .copyright{
        font-size: 4vw;
    }
    .contact{
        font-size: 4vw;
    }

}




@keyframes aparecerTitulo {
    from{
        opacity: .5;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes spotifyVisible {
    from{
        transform: translateX(-75px);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes albumVisible {
    from{
        opacity: .5;
        transform: translateY(-50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes iconAnimation {
    from{
        opacity: .5;
    }
    to {
        opacity: 1;
    }
}

@keyframes productoVisible {
    from{
        opacity: 0;
        transform: translateY(-40px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes textoProductos {
    from{
        transform: translateX(-50px);
        opacity: .5;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes tituloAbout {
    from{
        transform: translateX(-50px);
        opacity: .5;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes textoAbout{
    from{
        opacity: .5;
    }
    to{
        opacity: 1;
    }
}